@model BoCBid.Models.SetBid

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>SetBid</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Products.ItemName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Products.ItemName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Account)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Account)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OfferBitPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OfferBitPrice)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
